html, body { height:100%; width:100%; padding:0; margin:0; }
html {
    font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    quotes: "“" "”";
    font-size: 112.5%
}
[lang=ja-JP] {
    font-family: "Apple TP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}
p { margin:0; }
.normal-css {
  color:　rgb(0, 162, 142);
}
