/* autoprefixerのテスト */

.autoprefixer {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	display: flex;
	border: 1px solid #999;
}

/* postcssのテスト */

.cssnext {
	background: color(red alpha(-10%));
	color: #fff;
}

/* precssのテスト */

.precss {
	color: #fff;
	
	@if 3 < 5 {
		background: blue;
	}
	@else {
		background: green;
	}
}
