@mixin maintext {
	font:{
		family: Arial;
		size: 20px;
		weight: bold;
	}
	color: #fff;
}

body {
	div {
		background: #efefef;
		margin-bottom: 10px;
		padding: 5px;
	}
	.sass-scss {
		@include maintext;
		border-radius: 5px;
		background: #ec0fff;
	  display: flex;
	}
}
